<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to login.php" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="login.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
